<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.witdock.mapper.DatasetDocParagraphsMapper">

    <select id="listByConversationId" resultType="org.dromara.witdock.domain.DatasetDocParagraphs">

        SELECT dp.*
        FROM dataset_doc_paragraphs dp
                 JOIN dataset_doc dd ON dp.doc_id = dd.id and dd.status = 'active'
                 JOIN app_dataset ad ON dd.dataset_id = ad.dataset_id
                 JOIN conversation_info ci ON ad.app_id = ci.app_id
        WHERE dp.status = 'active'
          and ci.id = #{conversation_id};
    </select>
</mapper>
